@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooths;
}
header{
width: 100%;
position:fixed;
background-color: rgba(46, 90, 150, 0.449);
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px  200px;
}
.logo{
color: rgba(255, 255, 255, 0.522);
text-decoration:none;
text-transform: capitalize;
font-weight:700;
font: size 1.8em; ;
}
.navigation a{
color: rgba(255, 255, 255, 0.522);
text-decoration: none;
font-size: 1,1em;
font-weight: 500;
padding-left: 15px;
}
section {
padding: 100px 200px;
}
#main{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(img/web.jpg) no-repeat; 
background-size:cover;
/* height: 100vh; */
background-position:center;
background-attachment:fixed;
}
section h2,h3{
color: azure;

}
span{
    color:red;

}
.hi{
    color: lightslategray;
}
.iam{
    color:gray;
}
.sklis{
    display:inline-block;
    text-decoration: none;
    border-radius: 30px;
    background-color: #25676d;
    padding: 10px 10px;
    color: rgb(204, 225, 238);
     margin-top: 50px;
     font: size 1,1em;
    font-weight: 600;
    text-align: center;
    transition: 0,7s ease;
    margin-bottom: 20px;
}
.sklis:hover{
     background-color: rgb(2, 54, 121);
     transform: scale(1.1) ;
}
.social-icons{   
font-size: 1.7em;
text-decoration:none;
padding-right: 100px;


}
#maim-Skllis{
    transition: 0,7s ease;
    
}
.head{
 text-align: center;
 font-size: 1.7em;
 font-weight: 700;
 margin-bottom: 30px;
}
.icon{
display: flex;
justify-content:center;
flex-direction: row;
flex-wrap: wrap;
 }
 .card{
    box-shadow:0px 5px 25px rgba(1 1 1 /15%);
    margin:10px ;
    border-radius: 40px;
    transition: 0,7s ease;
    
 }
 .card:hover{
    transform: scale(1.1) ;
 }
 footer{
     display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: rgba(46, 90, 150, 0.449);
 }


.icon3{
     padding: 10px; 
}
.content
{
    display: flex;
justify-content:center;
flex-direction: row;
flex-wrap: wrap;

}
.card4{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;  
}
.card4:hover {
    transform: scale(1.1);
}

.card4 .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.title {
    display: flex;
    justify-content: center;
    color: #040508;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


   @media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .content h2{
        font-size: 1em;
    }

    .content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }


   }
@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .content h2{
        font-size: 0.8em;
    }

    .content h3{
        font-size: 1.4em;
    }
}


@media (max-width:300px) {
body{
        font-size: 10px;
     
    }
}